<form ng-init="preventModalClose()">
	<div class="modal fade" id="addCategoryModal" tabindex="-1"
		role="dialog" aria-labelledby="CategoryModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="CategoryModalLabel">Add Category</h4>
				</div>

				<div class="modal-body">
					<!-- Add New Category -->

<!-- 					<h3 ng-bind="categoryFormName">Add Category</h3> -->
					<div>
						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="categoryName">Category:</label> <input
									ng-model="categoryForm.skillCategory" type="text"
									class="form-control" id="categoryName" placeholder="Title"
									required>
							</div>
						</div>

						<div class="modal-footer">
							<input type="submit" ng-value="Save" class="btn btn-primary"
						data-dismiss="modal" ng-click="SaveCategory(categoryForm)">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>