
<form>
	<div class="modal fade" id="addCategoryModal" tabindex="-1"
			role="dialog" aria-labelledby="CategoryModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="CategoryModalLabel">Add
							Category</h4>
					</div>
					
				<div class="modal-body">
	
						<div>
							
						</div>
							<div class="modal-footer">
								<input type="submit" ng-value="Save" class="btn btn-primary">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
				</div>
			</div>
		</div>
	</div>
</form>