<form ng-init="preventModalClose()" >
	<div class="modal fade" id="editCategoryModal" tabindex="-1"
		role="dialog">

		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="CategoryModalLabel2">Edit Category</h4>
				</div>

				<div class="modal-body">
					<input type="text" ng-model="thisCategoryForm.skillCategory" />
					<input type="checkbox" ng-checked="thisCategoryForm.active" ng-model="thisCategoryForm.active"/>
				</div>

				<div class="modal-footer">
					<input type="submit" ng-value="Save" class="btn btn-primary" data-dismiss="modal" ng-click="updateCategory()">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
</form>