<!-- Create Assessment Categories and Edit assessment Categories including making it active or inactive -->
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<ul class="nav nav-tabs">
					<li role="button" class="pull-right" data-toggle="modal"
						data-target="#addCategoryModal" ng-click=""><a>Create
							Category <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Display all assessment categories -->
<div class="container"  id="trainer-assess-table">
	<div class="row">
		<div class="col-md-12 col-lg-12 top5">
					<!-- Accordian table -->
					<table class="table table-responsive"
						style="border-collapse: collapse;">
						<thead>
							<tr sticky class='sticky-header'>
								<th class="col-sm-2 col-md-2 col-lg-2">Categories</th>
								<th class="col-sm-9 col-md-9 col-lg-9">State</th>
							</tr> 
						</thead>
						<tbody>
								
						</tbody>
						<tfoot>
							
						</tfoot>
							
					</table>
		</div>
	</div>
</div>

<div ui-view="create-category-form"></div>