<!-- Create Assessment Categories and Edit assessment Categories including making it active or inactive -->
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<ul class="nav nav-tabs">
					<li role="button" class="pull-right" data-toggle="modal"
						data-target="#addCategoryModal" ng-click=""><a>Create
							Category <span class="glyphicon glyphicon-plus"
							aria-hidden="true"></span>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Display all assessment categories -->
<div class="container" id="trainer-assess-table">
	<div class="row">
		<div class="col-md-12 col-lg-12 top5">
			<!-- Accordian table -->
			<table class="table table-responsive"
				style="border-collapse: collapse;">
				<thead>
					<tr>
						<th>Category</th>
						<th>Active</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="category in categories track by $index">
						<td role="button" data-toggle="modal"
							ng-click="populateCategory($index)"
							data-target="#editCategoryModal">{{category.skillCategory}}
						</td>
						<td ng-if="category.active == false"><span
									style="color: #ff7575" class="glyphicon glyphicon-remove fa-2x" aria-hidden="true"> </span></td>
						<td ng-if="category.active == true"><span
									style="color: #81f575" class="fa fa-check fa-2x" aria-hidden="true"> </span></td>
					</tr>
				</tbody>
				<tfoot>

				</tfoot>

			</table>
		</div>
	</div>
</div>

<div ui-view="edit-category-form"></div>
<div ui-view="create-category-form"></div>
