<div id="manage">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<ul class="nav nav-tabs">
					<!-- Filter batches by year -->
					<li role="button" class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown">{{selectedYear}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-repeat="menuItem in years track by $index"><a
								role="button" ng-click="selectYear($index)">{{menuItem}}</a></li>
						</ul></li>
					<!-- Button Trigger for Create Batch Modal -->
					<li role="button" class="pull-right" data-toggle="modal"
						data-target="#createBatchModal"><a>Create Batch<span
							class="glyphicon glyphicon-plus" aria-hidden="true"> </span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Manage batch table -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Training Name</th>
							<th>Training Type</th>
							<th>Skill Type</th>
							<th>Trainer</th>
							<th>Co-Trainer</th>
							<th>Location</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Good Grade</th>
							<th>Passing Grade</th>
							<th>Trainees</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="batch in selectedBatches track by $index">
							<td>{{batch.trainingName}}</td>
							<td>{{batch.trainingType}}</td>
							<td>{{batch.skillType}}</td>
							<td>{{batch.trainer.name}}</td>
							<td>{{batch.coTrainer.name}}</td>
							<td>{{batch.location}}</td>
							<td>{{batch.startDate|date}}</td>
							<td>{{batch.endDate|date}}</td>
							<td>{{batch.goodGradeThreshold}}</td>
							<td>{{batch.borderlineGradeThreshold}}</td>
							<td>
								<!-- Button Trigger for Add Trainee Modal --> <a role="button"
								data-toggle="modal" ng-click="selectCurrentBatch($index)"
								data-target="#addTraineeModal"> View/Add<span
									class="glyphicon glyphicon-user"></span>
							</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!--********************************************* Create Batch Modal ************************************-->
	<form ng-submit="addNewBatch()">
		<div class="modal fade" id="createBatchModal" tabindex="-1"
			role="dialog" aria-labelledby="batchModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="batchModalLabel">Create New Batch</h4>
					</div>
					<!-- Add Batch Info -->
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="trainingName">Training Name:</label> <input
									ng-model="trainingName.model" type="text" class="form-control"
									id="trainingName" placeholder="1611 Jul11 Java" required>
							</div>
							<div class="form-group col-md-6 col-sm-6">
								<label for="trainingType">Training Type:</label> <select
									ng-model="trainingType.model" class="form-control"
									id="trainingType" required>
									<option value="" disabled>Select Training Type</option>
									<option ng-repeat="option in trainingType.options">{{option}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="skillType">Skill Type:</label> <select
									ng-model="skillType.model" class="form-control" id="skillType"
									required>
									<option value="" disabled>Select Skill Type</option>
									<option ng-repeat="option in skillType.options">{{option}}</option>
								</select>
							</div>
							<div class="form-group col-md-6 col-sm-6">
								<label for="commonLocations">Location:</label> <input
									list="commonLocations" type="text" ng-model="location.model"
									id="location" required placeholder="Enter location"
									class="form-control">
								<datalist id="commonLocations">
									<option ng-repeat="option in location.options"
										value="{{option}}" />
								</datalist>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="trainer">Trainer:</label> <select
									ng-model="trainer.model" class="form-control" id="trainer"
									required>
									<option value="" disabled>Select Trainer</option>
									<option ng-repeat="option in trainers">{{option.name}}</option>
								</select>
							</div>
							<div class="form-group col-md-6 col-sm-6">
								<label for="co-trainer">Co-Trainer:</label> <select
									ng-model="coTrainer.model" class="form-control" id="co-trainer">
									<option value="" disabled>Select Co-Trainer</option>
									<option ng-repeat="option in trainers">{{option.name}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="start-date">Start Date:</label>
								<div class="input-group" id="start-date" data-datepicker="true">
									<input ng-model="startDate.model"
										class="date-input form-control date-selector" name="date"
										min="0" type="date" required> <span
										class="input-group-addon glyphicon glyphicon-calendar"></span>
								</div>
							</div>
							<div class="form-group col-md-6 col-sm-6">
								<label for="end-date">End Date:</label>
								<div class="input-group" id="end-date" data-datepicker="true">
									<input ng-model="endDate.model"
										class="date-input form-control date-selector" name="date"
										min="0" type="date" required> <span
										class="input-group-addon glyphicon glyphicon-calendar"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-sm-6">
								<label for="goodGrade">Good Grade: <span
									title="The minimum acceptable grade."
									alt="The minimum acceptable grade."
									class="glyphicon glyphicon-question-sign"></span></label> <input
									ng-model="goodGradeThreshold.model" type="number" min="0"
									step="1" class="form-control" id="goodGrade" placeholder="80"
									required>
							</div>
							<div class="form-group col-md-6 col-sm-6">
								<label for="borderlineGrade">Passing Grade: <span
									title="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
									alt="The minimum grade required to pass. Falling below this grade will likely result in disciplinary action."
									class="glyphicon glyphicon-question-sign"></span></label> <input
									ng-model="borderlineGradeThreshold.model" type="number" min="0"
									step="1" class="form-control" id="borderlineGrade"
									placeholder="50" required>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<label for="benchmark-date">Benchmark Date: <span
									title="How far back in time the reports should go when comparing your batch against others."
									alt="How far back in time the reports should go when comparing your batch against others."
									class="glyphicon glyphicon-question-sign"></span></label>
								<div class="input-group" id="benchmark-date"
									data-datepicker="true">
									<input ng-model="benchmarkStartDate.model"
										class="date-input form-control date-selector" name="date"
										min="0" type="date" required> <span
										class="input-group-addon glyphicon glyphicon-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<input type="submit" value="Save" class="btn btn-primary">
					</div>
				</div>
			</div>
		</div>
	</form>

	<!--********************************************* Add Trainee Modal ************************************-->
	<form ng-submit="addNewTrainee()">
		<div class="modal fade" id="addTraineeModal" tabindex="-1"
			role="dialog" aria-labelledby="traineeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="traineeModalLabel">View/Add
							Trainees</h4>
					</div>
					<div class="modal-body">
						<!-- View Trainees in Batch -->
						<h3>Trainees in Batch</h3>
						<!--                         <div class="row scrollable-div"> -->
						<div class="col-md-12 col-lg-12">
							<table class="table table-responsive">
								<thead>
									<tr>
										<th>Trainee Name</th>
										<th>Trainee Email</th>
										<th>Training Status</th>
										<th>Phone Number</th>
										<th>Skype Id</th>
										<th>Profile URL</th>

										<th>Edit</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="trainee in trainees" ng-click="">
										<td>{{trainee.name}}</td>
										<td>{{trainee.email}}</td>
										<td>{{trainee.trainingStatus}}</td>
										<td>{{trainee.phoneNumber}}</td>
										<td>{{trainee.skypeId}}</td>

										<td><span ng-if="trainee.profileUrl"> <a
												href="{{trainee.profileUrl}}" target="_blank"><i
													class="fa fa-file-code-o" aria-hidden="true"></i></a>

										</span></td>
										<td><button ng-click="getTrainee(trainee)" type="button"
												class="btn btn-primary">Edit</button></td>

									</tr>
								</tbody>
							</table>
						</div>
						<!-- Add New Trainee -->
						<h3>Add Trainee</h3>
						<div ng-repeat="receiver in receivers">
							<div class="row">
								<div class="form-group col-lg-6 col-md-6 col-sm-12">
									<label for="traineeName">Full Name:</label> <input
										ng-model="receiver.name" type="text" class="form-control"
										id="traineeName" placeholder="Name"
										ng-value="editTrainee.name" required>
								</div>
								<div class="form-group col-lg-6 col-md-6 col-sm-12">
									<label for="traineeEmail">Email:</label> <input
										ng-model="receiver.email" type="email" class="form-control"
										id="traineeEmail" placeholder="Email"
										ng-value="editTrainee.email" required>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-6 col-md-6 col-sm-12">
									<label for="traineeSkype">Skype Id:</label> <input
										ng-model="receiver.skypeId" type="text" class="form-control"
										id="traineeSkype" placeholder="Skype Id"
										ng-value="editTrainee.skypeId">
								</div>
								<div class="form-group col-lg-6 col-md-6 col-sm-12">
									<label for="traineePhone">Phone:</label> <input
										ng-model="receiver.phoneNumber" type="text"
										class="form-control" id="traineePhone"
										placeholder="(xxx)-xxx-xxxx"
										ng-value="editTrainee.phoneNumber" required>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<label for="traineeProfile">Profile URL:</label> <input
										ng-model="receiver.profileUrl" type="text"
										class="form-control" id="traineeName"
										placeholder="http://www.example.com/revature"
										ng-value="editTrainee.profileUrl">

								</div>
							</div>
							<div class="row">

								<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<label for="traineeStatus">Training Status</label> <select
										ng-model="receiver.trainingStatus" class="form-control"
										id="traineeStatus" required>
										<option value="" disabled>Select Status</option>
										<option ng-repeat="option in trainingStatuses.options">{{option}}</option>
									</select>
								</div>
							</div>
						</div>
						<!-- 	Remove from view until synchronization issue is solved
							<div class="row">
								<div class="form-group col-md-2 col-sm-2">
									<div ng-click="addTrainee(receiver)">
										<a role="button" class="glyph-top-margin"> <span
											class="glyphicon glyphicon-plus glyph-top-margin"
											aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<div class="form-group col-md-2 col-sm-2">
									<div ng-click="deleteTrainee(receiver)">
										<a role="button"> <span
											class="glyphicon glyphicon-minus glyph-top-margin"
											aria-hidden="true"></span>
										</a>
									</div>
								</div>
							</div> -->
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<input type="submit" value="Save" class="btn btn-primary">
						<button type="button"  ng-click="update()"class="btn btn-default">Update</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>