<div id="manage">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <ul class="nav nav-tabs">
                    <!-- Filter batches by year -->
                    <li role="button" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{selectedYear}}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="menuItem in years track by $index">
                                <a role="button" ng-click="selectYear($index)">{{menuItem}}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Button Trigger for Create Batch Modal -->
                    <li role="button" class="pull-right" data-toggle="modal" data-target="#createBatchModal">
                        <a>Create Batch<span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Manage batch table -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Training Name</th>
                        <th>Training Type</th>
                        <th>Skill Type</th>
                        <th>Trainer</th>
                        <th>Co-Trainer</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Good Grade</th>
                        <th>Passing Grade</th>
                        <th>Trainees</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="batch in selectedBatches track by $index">
                        <td>{{batch.trainingName}}</td>
                        <td>{{batch.trainingType}}</td>
                        <td>{{batch.skillType}}</td>
                        <td>{{batch.trainer.name}}</td>
                        <td>{{batch.coTrainer.name}}</td>
                        <td>{{batch.location}}</td>
                        <td>{{batch.startDate|date}}</td>
                        <td>{{batch.endDate|date}}</td>
                        <td>{{batch.goodGradeThreshold}}</td>
                        <td>{{batch.borderlineGradeThreshold}}</td>
                        <td>
                            <a role="button" data-toggle="modal" ng-click="selectCurrentBatch($index)"
                               data-target="#addTraineeModal">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                        <td>
                            <a role="button" data-toggle="modal" ng-click="selectCurrentBatch($index)"
                               data-target="#viewTraineeModal">
								<span class="glyphicon glyphicon-list-alt"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--********************************************* Create Batch Modal ************************************-->
    <form>
        <div class="modal fade" id="createBatchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="batchModalLabel">Create New Batch</h4>
                    </div>
                    <!-- Add Batch Info -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="trainingName">Training Name:</label>
                                <input ng-model="trainingName.model" type="text" class="form-control" id="trainingName"
                                       placeholder="1611 Jul11 Java" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="trainingType">Training Type:</label>
                                <select ng-model="trainingType.model" class="form-control" id="trainingType" required>
                                    <option value="" disabled selected>Select Training Type</option>
                                    <option ng-repeat="option in trainingType.options">{{option}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="skillType">Skill Type:</label>
                                <select ng-model="skillType.model" class="form-control" id="skillType" required>
                                    <option value="" disabled selected>Select Skill Type</option>
                                    <option ng-repeat="option in skillType.options">{{option}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="location">Location:</label>
                                <select ng-model="location.model" class="form-control" id="location" required>
                                    <option value="" disabled selected>Select Location</option>
                                    <option ng-repeat="option in location.options">{{option}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="trainer">Trainer:</label>
                                <select ng-model="trainer.model" class="form-control" id="trainer" required>
                                    <option value="" disabled selected>Select Trainer</option>
                                    <option ng-repeat="option in trainers">{{option.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="co-trainer">Co-Trainer:</label>
                                <select ng-model="coTrainer.model" class="form-control" id="co-trainer" required>
                                    <option value="" disabled selected>Select Co-Trainer</option>
                                    <option ng-repeat="option in trainers">{{option.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="start-date">Start Date:</label>
                                <div class="input-group" id="start-date" data-datepicker="true">
                                    <input ng-model="startDate.model" class="date-input form-control date-selector"
                                           name="date"
                                           min="0" type="date" required>
                                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="end-date">End Date:</label>
                                <div class="input-group" id="end-date" data-datepicker="true">
                                    <input ng-model="endDate.model" class="date-input form-control date-selector"
                                           name="date"
                                           min="0" type="date" required>
                                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="goodGrade">Good Grade Threshold:</label>
                                <input ng-model="goodGradeThreshold.model" type="number"
                                       min="0" step="1" class="form-control" id="goodGrade"
                                       placeholder="Enter Good Grade Threshold" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="borderlineGrade">Borderline Grade Threshold:</label>
                                <input ng-model="borderlineGradeThreshold.model" type="number"
                                       min="0" step="1" class="form-control" id="borderlineGrade"
                                       placeholder="Enter Borderline Grade Threshold" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button ng-click="addNewBatch()" type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--********************************************* View Trainee Modal ************************************-->
        <div class="modal fade" id="viewTraineeModal" tabindex="-1" role="dialog" aria-labelledby="viewTraineeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="viewTraineeModalLabel">View Trainees</h4>
                    </div>
                    <div class="modal-body">
                   <!-- View Trainees in Batch -->
                        <h3>Trainees in Batch</h3>
                            <div class="col-md-12 col-lg-12">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Trainee Name</th>
                                        <th>Trainee Email</th>
                                        <th>Training Status</th>
                                        <th>Phone Number</th>
                                        <th>Skype Id</th>
                                        <th>Profile Url</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="trainee in trainees">
                                        <td>{{trainee.name}}</td>
                                        <td>{{trainee.email}}</td>
                                        <td>{{trainee.trainingStatus}}</td>
                                        <td>{{trainee.phoneNumber}}</td>
                                        <td>{{trainee.skypeId}}</td>
                                        <td>{{trainee.profileUrl}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
			</div>
		</div>
  <!--********************************************* Add Trainee Modal ************************************-->
    <form>
        <div class="modal fade" id="addTraineeModal" tabindex="-1" role="dialog" aria-labelledby="addTraineeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="addTraineeModalLabel">Add Trainees</h4>
                    </div>
                    <div class="modal-body">
                        <!-- Add New Trainee -->
                        <h3>Add Trainee</h3>
                        <div class="row">
                            <table>
                                <tr ng-repeat="receiver in receivers">
                                    <td>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label for="traineeName">Full Name:</label>
                                            <input ng-model="receiver.name" type="text" class="form-control"
                                                   id="traineeName" placeholder="Name" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label for="traineeEmail">Email:</label>
                                            <input ng-model="receiver.email" type="text" class="form-control"
                                                   id="traineeEmail" placeholder="Email" required>
                                        </div>
                                    </td>
                                    <td>
                                         <div class="form-group col-lg-12 col-md-12 col-sm-12">
			                                <label for="traineeStatus">Training Status</label>
			                                <select ng-model="receiver.trainingStatus" class="form-control" id="traineeStatus" required>
			                                    <option value="" disabled selected>Select Status</option>
			                                    <option ng-repeat="option in trainingStatuses.options">{{option}}</option>
			                                </select>
                           				 </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label for="traineePhone">Phone:</label>
                                            <input ng-model="receiver.phoneNumber" type="text" class="form-control"
                                                   id="traineePhone" placeholder="(xxx) xxx-xxxx" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label for="traineeSkype">Skype Id:</label>
                                            <input ng-model="receiver.skypeId" type="text" class="form-control"
                                                   id="traineeSkype" placeholder="Skype Id" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label for="traineeProfile">Profile URL:</label>
                                            <input ng-model="receiver.profileUrl" type="text" class="form-control"
                                                   id="traineeProfile" placeholder="https://app.revature.com/core/admin/pages/portfolio_ta?profile&view&proId=AOQI8718A" required>
                                        </div>
                                    </td>
                                    <!-- Remove from view until synchronization issue is solved
                                    <td>
                                        <div class="form-group col-md-2 col-sm-2">
                                            <div ng-click="addTrainee(receiver)">
                                                <a role="button" class="glyph-top-margin">
                                                    <span class="glyphicon glyphicon-plus glyph-top-margin"
                                                          aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-2 col-sm-2">
                                            <div ng-click="deleteTrainee(receiver)">
                                                <a role="button">
                                                    <span class="glyphicon glyphicon-minus glyph-top-margin"
                                                          aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button ng-click="addNewTrainee()" type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>