<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 top5">
			<div class="panel panel-default">
				<div class="panel-heading">QC Feedback for the Trainee Overall</div>
				<table class="table table-responsive col-sm-12 col-md-12 col-lg-12"
					style="border-collapse: collapse;" ng-show="currentView">
					<thead>
						<tr>
							<th>Week</th>
							<th>Individual Feedback</th>
							<th>Notes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="trainee in currentBatch.trainees track by $index">
							<td class="col-sm-2 col-md-2 col-lg-2">{{faces[$index].week}}</td>
							<td>
								<!-- For faces -->
								<!-- <div ng-if="faces[$index].qcStatus === qcStatusTypes[0]"
									title="Excellent"
									class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-1">
									<i class="fa fa-star fa-2x pick"></i>
								</div>
								<div ng-if="faces[$index].qcStatus === qcStatusTypes[1]"
									title="Good" class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-1">
									<i class="fa fa-smile-o fa-2x pick"></i>
								</div>
								<div ng-if="faces[$index].qcStatus === qcStatusTypes[2]"
									title="Fair" class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-1">
									<i class="fa fa-meh-o fa-2x pick"></i>
								</div>
								<div ng-if="faces[$index].qcStatus === qcStatusTypes[3]"
									title="Poor" class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-1">
									<i class="fa fa-frown-o fa-2x pick"></i>
								</div> -->
								{{faces[$index].qcStatus}}
							</td>
							<td class="col-sm-9 col-md-9 col-lg-9">{{faces[$index].content}}</td>
							<td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
