<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<p class="bg-primary align center" ng-show="noBatches">{{noBatchesMessage}}</p>
			<ul class="nav nav-tabs" ng-show="!noBatches">
				<!-- Select Batch-->
				<li role="button" class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">{{currentBatch.trainingName}}<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a role="button" ng-click="selectCurrentBatch(-1)">None</a></li>
						<li ng-repeat="menuItem in batches track by $index"><a
							role="button" ng-click="selectCurrentBatch($index)">{{menuItem.trainingName}}</a></li>
					</ul></li>
				<!-- Select Trainee-->
				<li role="button" class="dropdown"><a class="dropdown-toggle"
					ng-show="hideOtherTabs()" data-toggle="dropdown">{{currentTrainee.name}}<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a role="button" ng-click="selectCurrentTrainee(-1)">None</a></li>
						<li ng-repeat="menuItem in currentBatch.trainees track by $index"><a
							role="button" ng-click="selectCurrentTrainee($index)">{{menuItem.name}}</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</div>

<!-- Charts -->
<div class="container" ng-show="!noBatches">
	<div class="top10 data-container">

		<!-- Batch -> Week -->
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row">

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Average Trainee Scores</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" chart-options="qcStatsLabels"
										chart-labels="batchTechLabels" chart-series="batchTechSeries">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">QC Status</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="doughnut1" class="chart chart-doughnut chart-xs"
										chart-labels="qcStatsLabels" chart-data="qcStatsData"
										chart-options="qcStatsOptions">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Assessment Averages</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" chart-options="batchTechOptions"
										chart-labels="batchTechLabels" chart-series="batchTechSeries">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Batch -> Overall -->
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row">

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Weekly Averages Progress</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" chart-options="qcStatsLabels"
										chart-labels="batchTechLabels" chart-series="batchTechSeries">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Technical Skill Averages</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="doughnut1" class="chart chart-doughnut chart-xs"
										chart-labels="qcStatsLabels" chart-data="qcStatsData"
										chart-options="qcStatsOptions">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Average Trainee Scores</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" chart-options="batchTechOptions"
										chart-labels="batchTechLabels" chart-series="batchTechSeries">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Batch -> Week -> Trainee-->
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row">

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Weekly Averages Progress</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" chart-options="qcStatsLabels"
										chart-labels="batchTechLabels" chart-series="batchTechSeries">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Technical Skills</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="doughnut1" class="chart chart-doughnut chart-xs"
										chart-data="qcStatsData" chart-colors="qcStatsColors"
										chart-labels="qcStatsLabels" chart-options="qcStatsOptions">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Assessment Averages</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" chart-options="batchTechOptions"
										chart-labels="batchTechLabels" chart-series="batchTechSeries">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Batch -> Overall -> Trainee-->
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row">

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Weekly Averages Progress</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" chart-options="qcStatsLabels"
										chart-labels="batchTechLabels" chart-series="batchTechSeries">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Technical Skill Averages</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="doughnut1" class="chart chart-doughnut chart-xs"
										chart-labels="qcStatsLabels" chart-data="qcStatsData"
										chart-options="qcStatsOptions">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Assessment Averages</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" chart-options="batchTechOptions"
										chart-labels="batchTechLabels" chart-series="batchTechSeries">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- for testing purposes -->
	<!--     <div ui-view = "display" ng-show = "displayTable()"></div> -->
	<div ui-view="display" ng-show="true"></div>
</div>