/************************
Revature Fonts
************************/

@font-face {
  font-family: 'Futura-Std-Medium';
  src: url('Futura-Std-Medium.otf')  format('opentype');
}

@font-face {
  font-family: 'Futura-Std-Book';
  src: url('Futura-Std-Book.otf')  format('opentype');
}

@font-face {
  font-family: 'Futura-Std-Heavy';
  src: url('Futura-Std-Heavy.otf')  format('opentype');
}

@font-face {
  font-family: 'Futura-Std-Bold';
  src: url('Futura-Std-Bold.otf')  format('opentype');
}


/************************
Revature Colors
************************/

:root {
/*** Primary Colors ***/
	--orange: #F26925;
	--white: #FFFFF;
	--dark-grey: #474C55;
/*** Secondary Colors ***/
	--blue:  #72A4C2;
	--yellow: #FCB414;
	--light-grey: #B9B9BA;
}


/**********************
	Chart Containers
**********************/

.nav>li>a, .nav>li>a {
    transition: background-color 1s ease;
}

.data-container {
	background-color: #f1f2f4;
	padding: .5em 1em 1em 1em;
	border-radius: .5em;
	box-shadow: 0 0 1em #f1f2f4;
}

.chart-container {
	padding: .5em;
	background-color: #ffffff;
	border-radius: .3em;
}

/************************
	Margins
************************/

.top5 { margin-top: .5em; }
.top10 { margin-top: 1em; }
.top15 { margin-top: 1.5em; }
.top20 { margin-top: 2em; }
.top25 { margin-top: 2.5em; }
.top30 { margin-top: 3em; }
.top35 { margin-top: 35em; }
.top40 { margin-top: 40em; }
.top45 { margin-top: 45em; }

/************************
	Footer
************************/
.footer{ margin-top: .5em; }