/************************
Revature Fonts
************************/

@font-face {
  font-family: 'Futura-Std-Medium';
  src: url('Futura-Std-Medium.otf')  format('opentype');
}

@font-face {
  font-family: 'Futura-Std-Book';
  src: url('Futura-Std-Book.otf')  format('opentype');
}

@font-face {
  font-family: 'Futura-Std-Heavy';
  src: url('Futura-Std-Heavy.otf')  format('opentype');
}

@font-face {
  font-family: 'Futura-Std-Bold';
  src: url('Futura-Std-Bold.otf')  format('opentype');
}


/************************
Revature Primary Colors
************************/

$orange: #F26925;
$white: #FFFFF;
$dark-grey: #474C55;


/************************
Revature Secondary Colors 
************************/

$blue:  #72A4C2;
$yellow: #FCB414;
$light-grey: #B9B9BA;

html, body {
    font-family: 'Futura-Std-Medium';
}

.data-container {
	background-color: #d9dce0;
	padding: 2em;
}

.chart-container {
	background-color: #ffffff;
}

.top10 { margin-top: 1em; }
.top15 { margin-top: 1.5em; }
.top20 { margin-top: 2em; }
.top25 { margin-top: 2.5em; }
.top30 { margin-top: 3em; }
.top35 { margin-top: 35em; }
.top40 { margin-top: 40em; }
.top45 { margin-top: 45em; }