/************************
Revature Primary Colors
************************/
$orange: #F26925;
$white: #FFFFF;
$dark-grey: #474C55;

/************************
Revature Secondary Colors 
************************/
$blue:  #72A4C2;
$yellow: #FCB414;
$light-grey: #B9B9BA;