<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">
    <security:http auto-config="true" use-expressions="true">
        <security:form-login login-page="/" authentication-failure-handler-ref="serverErrorHandler"/>
        <security:intercept-url pattern="/vp/**" access="hasRole('VP')"/>
        <security:intercept-url pattern="/qc/**" access="hasAnyRole('VP','QC')"/>
        <security:intercept-url pattern="/trainer/**" access="hasAnyRole('VP','QC','TRAINER')" />
        <security:remember-me key="wow" />

        <!-- logout functionality: delete cookies and redirect. Use /j_spring_security_logout as route -->
        <security:logout delete-cookies="salesforce_token,JSESSIONID"/>
        <!-- Allowed one session : change max-sessions if you like -->
        <security:session-management>
            <security:concurrency-control max-sessions="1" />
        </security:session-management>
    </security:http>


    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user authorities="VP" name="vp"/>
                <security:user authorities="QC" name="qc"/>
                <security:user authorities="TRAINER" name="trainer"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="serverErrorHandler" class="com.revature.caliber.salesforce.security.ServerErrorHandler"/>


</beans>