<!--********************************************* Create Trainer Modal ************************************-->
<form ng-submit="saveTrainer()">
	<div class="modal fade" id="createTrainerModal" tabindex="-1"
		role="dialog" aria-labelledby="trainerModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="trainerModalLabel">Add Trainer</h4>
				</div>
				<div class="modal-body">
					<!-- Add New Trainer -->
					<h3 ng-bind="trainerFormName">Add Trainer</h3>
					<div>
						<div class="row">
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label for="trainerName">Trainer Name:</label> 
								<input
									ng-model="trainerForm.name" type="text" class="form-control"
									id="trainerName" placeholder="Name" required>
							</div>
							
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label for="trainerEmail">Email:</label> 
								<input
									ng-model="trainerForm.email" type="email" class="form-control"
									id="trainerEmail" placeholder="Email" required>
								<div
									ng-show="addTrainerForm.temail.$submitted || addTrainerForm.temail.$touched">
									<span class='warning'
										ng-show="addTrainerForm.temail.$error.email">Must enter
										a valid email
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
									<label for="trainerTitle">Title</label> 
									<select
										ng-model="trainerForm.title" class="form-control"
										id="trainerTitle" required>
										<option value="" disabled>Select Title</option>
										<option ng-repeat="option in trainerTitle">{{option}}</option>
									</select>
							</div>
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label for="trainerTier">Tier</label>
								<select
									ng-model="trainerForm.tier" class="form-control"
									id="trainerTier" required>
									<option value="" disabled>Select Tier</option>
									<option ng-repeat="option in trainerTiers">{{option}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit"
							ng-disabled="addTrainerForm.temail.$error.required || addTrainerForm.temail.$error.email"
							value="Save" class="btn btn-primary" ng-show="!Updating.status">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-show="!Updating.status">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>