<div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
			<ul class="nav nav-tabs">
				<li role="button" class="pull-right" data-toggle="model"
				data-target="#createTrainerModel" ng-click=""><a>Create Trainer
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</a>
				
				</li>
			
			</ul>
			
			</div>
		
		</div>
	
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Title</th>
						<th>Email</th>
						<th>Tier</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			
			</table>
			
			</div>
		
		</div>
	</div>
	
	
	<!-- form for updating or creating batch -->
	<div ui-view="trainer-form"></div>
	
	
	
	
<!-- Dan -->
<p>Hello World</p>
<br>
<!-- Stan -->
<button>Create</button>
<br>
<!-- Rod -->
<button>Edit</button>
<br>
<!-- Adam -->
<button>Delete</button>
</div>