<!-- need to change this into angular
    $('.collapse').on('show.bs.collapse', function () {
        $('.collapse.in').collapse('hide');
    });

    to hide other rows upon opening another one
-->

<!-- Year selector and Add Assessment button -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <ul class="nav nav-tabs">
                <li role="button" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        2017<!--{{currentBatch}}-->
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- example from batches
                        <li ng-repeat="menuItem in batches track by $index"><a
                                role="button" ng-click="selectCurrentBatch($index)">{{menuItem}}</a>
                        </li>
                        -->
                        <li ><a role="button">2016</a></li>
                        <li ><a role="button">2015</a></li>
                        <li ><a role="button">2014</a></li>
                    </ul>
                </li>
                <!-- Button Trigger for Create Batch Modal -->
                <li role="button" class="pull-right" data-toggle="modal" data-target="#createAssessmentModal">
                    <a>Create Assessment<span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Assessments table -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <!-- Accordian table -->
            <table class="table table-condensed" style="border-collapse:collapse;">
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Raw score</th>
                </tr>

                <tr data-toggle="collapse" data-target=".assessment4">
                    <td>Week 1 Java</td>
                    <td>Verbal</td>
                    <td>Java, JDBC</td>
                    <td>Meh face</td>
                    <td>30000</td>
                </tr>
                <tr class="hiddenRow">
                    <td colspan="5">
                        <div class="assessment4 collapse">
                            <table class="col-md-6 table table-condensed">
                                <tr>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                                <tr>
                                    <td>Jason Bourne</td>
                                    <td>93</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr data-toggle="collapse" data-target=".assessment5">
                    <td>Week 1 Java</td>
                    <td>Verbal</td>
                    <td>Java, JDBC</td>
                    <td>Meh face</td>
                    <td>30000</td>
                </tr>
                <tr class="hiddenRow">
                    <td colspan="5">
                        <div class="assessment5 collapse">
                            <table class="table table-condensed">
                                <tr>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                                <tr>
                                    <td>Jason Bourne</td>
                                    <td>93</td>
                                </tr>
                                <tr>
                                    <td>Jack Baur</td>
                                    <td>92</td>
                                </tr>
                                <tr>
                                    <td>James Bond</td>
                                    <td>91</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Create Batch Modal -->
<div class="modal fade" id="createAssessmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Batch</h4>
            </div>
            <!-- Add Batch Info -->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="trainingName">Training Name:</label>
                        <input ng-model="trainingName" type="text" class="form-control" id="trainingName"
                               placeholder="Enter title" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="trainingName">Training type:</label>
                        <input ng-model="trainingType" type="text" class="form-control" id="trainingType"
                               placeholder="Enter training type" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="skillType">Skill Type:</label>
                        <select ng-model="skillType" class="form-control" id="skillType" required>
                            <option value="" disabled selected>Select Skill Type</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="location">Location:</label>
                        <select ng-model="location" class="form-control" id="location" required>
                            <option value="" disabled selected>Select Location</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="trainer">Trainer:</label>
                        <select ng-model="trainer" class="form-control" id="trainer" required>
                            <option value="" disabled selected>Select Trainer</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="co-trainer">Co-Trainer:</label>
                        <select ng-model="co-trainer" class="form-control" id="co-trainer" required>
                            <option value="" disabled selected>Select Co-Trainer</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="start-date">Start Date:</label>
                        <div class="input-group" id="start-date" data-datepicker="true">
                            <input ng-model="start-date" class="date-input form-control date-selector" name="date"
                                   min="0"
                                   type="date" required>
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="end-date">End Date:</label>
                        <div class="input-group" id="end-date" data-datepicker="true">
                            <input ng-model="end-date" class="date-input form-control date-selector" name="date" min="0"
                                   type="date" required>
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>