<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<p class="bg-primary align center" ng-show="noBatches">{{noBatchesMessage}}</p>
			<ul class="nav nav-tabs" ng-show="!noBatches">
				<!-- Batch Selection -->
				<li role="button" class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">{{currentBatch.trainingName}}<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="menuItem in batches track by $index"><a
							role="button" ng-click="selectCurrentBatch($index)">{{menuItem.trainingName}}</a>
						</li>
					</ul></li>
				<!-- Trainee Selection -->
				<li role="button" class="dropdown"><a class="dropdown-toggle"
					ng-show="hideOtherTabs()" data-toggle="dropdown">{{currentTrainee.name}}<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a role="button" ng-click="selectCurrentTrainee(-1)">None</a></li>
						<li ng-if="trainee.trainingStatus != 'Dropped'" ng-repeat="menuItem in currentBatch.trainees track by $index"><a
							role="button" ng-click="selectCurrentTrainee($index)">{{menuItem.name}}</a>
						</li>
					</ul></li>
			</ul>
		</div>
	</div>
</div>

<div class="container" ng-show="!noBatches">
	<div class="top10 data-container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-sm-6 col-md-6" ng-show="showCharts(1)">
						<div class="panel panel-default">
							<div class="panel-heading">Batch
								{{currentBatch.trainingName}} Technology Progress</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar" class="chart chart-radar"
										chart-data="batchTechData" 
										chart-labels="batchTechLabels" chart-series="batchTechSeries"
										height="100" width="100">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6" ng-show="showCharts(1)">
						<div class="panel panel-default">
							<div class="panel-heading">Week by Week progression of
								{{currentBatch.trainingName}}</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="batch-line" class="chart chart-line"
										chart-data="batchProgressData"
										chart-labels="batchProgressLabels"
										chart-series="batchProgressSeries"
										chart-options="batchProgressOptions"
										chart-dataset-override="batchProgressDatasetOverride"
										height="100" width="100">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6" ng-show="showCharts(3)">
						<div class="panel panel-default">
							<div class="panel-heading">Week by week progression for a
								{{currentTrainee.name}}</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="line" class="chart chart-line"
										chart-data="traineeProgressData"
										chart-labels="traineeProgressLabels"
										chart-series="traineeProgressSeries"
										chart-options="traineeProgressOptions"
										chart-dataset-override="traineeProgressDatasetOverride"
										height="100" width="100">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6" ng-show="showCharts(3)">
						<div class="panel panel-default">
							<div class="panel-heading">Averages scores per technology
								for trainee {{currentTrainee.name}}</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radar2" class="chart chart-radar"
										chart-data="traineeTechData" chart-labels="traineeTechLabels"
										chart-options="traineeTechOptions" height="100" width="100">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
		</div>
	</div>
</div>