<!-- Charts -->
<div class="container" ng-show="!noBatches">
	<div class="top10 data-container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading panel-rev">Average Trainee Scores</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="bar6" class="chart chart-bar" chart-data="batchOverAllData"
										chart-options="batchOverAllOptions" chart-labels="batchOverAllLabels"
										chart-series="batchOverAllSeries" chart-colors="batchOverAllColors">
                                    	</canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">Technology Progress</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="radarBatchOverall" class="chart chart-radar"
										chart-data="radarBatchOverallData" chart-options="radarBatchOverallOptions"
										chart-labels="radarBatchOverallLabels" chart-series="radarBatchOverallSeries" chart-colors="radarBatchOverallColors">
                                    </canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">Weekly Progress</div>
							<div class="panel-body">
								<div class="chart-container top5">
									<canvas id="doughnut1" class="chart chart-doughnut chart-xs"
										chart-labels="qcStatsLabels" chart-data="qcStatsData"
										chart-options="qcStatsOptions" chart-colors="qcStatsColors">
                                    </canvas>
						
								</div>
							</div>
						</div>
					</div>
					