<div class="container">
	<div class="col-sm-12 col-md-12 col-lg-12">

		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Last Quality Audit</div>
					<div class="panel-body">
						<div class="chart-container top5">
							<canvas class="chart chart-bar" chart-data="stackedBarData"
								chart-options="stackedBarOptions" chart-labels="stackedBarLabels"
								chart-series="stackedBarSeries" chart-colors="stackedBarColors">
							</canvas>
						</div>
						<div>
							<table ng-if="stackedBarLabels" class="table table-responsive"
								style="border-collapse: collapse;">
								<tbody>
									<tr>
										<th class="col-sm-2 col-md-2 col-lg-2"></th>
										<th class="col-sm-2 col-md-2 col-lg-2" ng-repeat="series in stackedBarSeries">{{series}}</th>
									</tr>
									<tr ng-repeat="label in stackedBarLabels track by $index">
										<th class="col-sm-2 col-md-2 col-lg-2">{{label}}</th>
										<td class="col-sm-2 col-md-2 col-lg-2"
											ng-repeat="series in stackedBarSeries track by $index">{{stackedBarData[$index][$parent.$index]}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Weekly Progress</div>
					<div class="panel-body">
						<div class="chart-container top5">
							<canvas class="chart chart-line" chart-data="currentBatchesLineData"
								chart-options="currentBatchesLineOptions" chart-labels="currentBatchesLineLabels"
								chart-series="currentBatchesLineSeries" chart-colors="currentBatchesLineColors"
								chart-dataset-override="currentBatchesDsOverride">
							</canvas>
						</div>
						<div>
							<table ng-if="currentBatchesLineLabels" class="table table-responsive"
								style="border-collapse: collapse;">
								<tbody>
									<tr>
										<th class="col-sm-1 col-md-1 col-lg-1"></th>
										<th class="col-sm-1 col-md-1 col-lg-1"
											ng-repeat="label in currentBatchesLineLabels">{{label}}</th>
									</tr>
									<tr ng-repeat="series in currentBatchesLineSeries track by $index">
										<th class="col-sm-1 col-md-1 col-lg-1">{{series}}</th>
										<td class="col-sm-1 col-md-1 col-lg-1"
											ng-repeat="dataPoint in currentBatchesLineData[$index] track by $index">{{dataPoint}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

