<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">
	<security:http auto-config="true" use-expressions="true">
		<security:access-denied-handler
			error-page="/" />
		<security:form-login login-page="/" />
	
		<!-- enable SSL -->
<!-- 		<security:intercept-url pattern="/**" requires-channel="https" /> -->
		
		<!-- change to hasRole('ROLE_VP') after development is complete -->
		<!--<security:intercept-url pattern="/vp/**" access="hasRole('ROLE_VP')" /> -->

		<!-- change to hasRole('ROLE_QC') after development is complete -->
		<!--<security:intercept-url pattern="/qc/**" access="hasRole('ROLE_QC')" /> -->
		
		<!-- change to hasRole('ROLE_TRAINER') after development is complete -->
		<!--<security:intercept-url pattern="/trainer/**" access="hasRole('ROLE_TRAINER')" /> -->
			
		<security:intercept-url pattern="/all/**" access="permitAll" /> 
		<security:intercept-url pattern="/**" access="permitAll" />
		<security:csrf disabled="true" />
		<security:logout invalidate-session="true"
			delete-cookies="token, JSESSIONID" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user authorities="ROLE_VP" name="ROLE_VP" />
				<security:user authorities="ROLE_QC" name="ROLE_QC" />
				<security:user authorities="ROLE_TRAINER" name="ROLE_TRAINER" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

</beans>
