<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <ul class="nav nav-tabs">
                <!-- Filter batches by year -->
                <li role="button" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">2017<span class="caret"></span></a>
                </li>
                <!-- Button Trigger for Create Batch Modal -->
                <li role="button" class="pull-right" data-toggle="modal" data-target="#createBatchModal">
                    <a>Create Batch<span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Manage batch table -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Training Name</th>
                    <th>Training Type</th>
                    <th>Skill Type</th>
                    <th>Trainer</th>
                    <th>Co-Trainer</th>
                    <th>Location</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Trainees</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Batch1812</td>
                    <td>Corporate</td>
                    <td>.Net</td>
                    <td>Dan Pickles</td>
                    <td></td>
                    <td>Antarctica</td>
                    <td>12-01-2018</td>
                    <td>12-01-2019</td>
                    <td>
                        <!-- Button Trigger for Add Trainee Modal -->
                        <a role="button" data-toggle="modal" data-target="#addTraineeModal">
                            Add<span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Batch1912</td>
                    <td>Enterprise</td>
                    <td>Java</td>
                    <td>Tom Hanks</td>
                    <td></td>
                    <td>Alaska</td>
                    <td>12-01-2019</td>
                    <td>12-01-2020</td>
                    <td>
                        <!-- Button Trigger for Add Trainee Modal -->
                        <a role="button" data-toggle="modal" data-target="#addTraineeModal">
                            Add<span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Create Batch Modal -->
<div class="modal fade" id="createBatchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Batch</h4>
            </div>
            <!-- Add Batch Info -->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="trainingName">Training Name:</label>
                        <input ng-model="trainingName" type="text" class="form-control" id="trainingName"
                               placeholder="Enter Training Name" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="trainingType">Training Type:</label>
                        <select ng-model="trainingType" class="form-control" id="trainingType" required>
                            <option value="" disabled selected>Select Training Type</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="skillType">Skill Type:</label>
                        <select ng-model="skillType" class="form-control" id="skillType" required>
                            <option value="" disabled selected>Select Skill Type</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="location">Location:</label>
                        <select ng-model="location" class="form-control" id="location" required>
                            <option value="" disabled selected>Select Location</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="trainer">Trainer:</label>
                        <select ng-model="trainer" class="form-control" id="trainer" required>
                            <option value="" disabled selected>Select Trainer</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="co-trainer">Co-Trainer:</label>
                        <select ng-model="co-trainer" class="form-control" id="co-trainer" required>
                            <option value="" disabled selected>Select Co-Trainer</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="start-date">Start Date:</label>
                        <div class="input-group" id="start-date" data-datepicker="true">
                            <input ng-model="start-date" class="date-input form-control date-selector" name="date"
                                   min="0"
                                   type="date" required>
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="end-date">End Date:</label>
                        <div class="input-group" id="end-date" data-datepicker="true">
                            <input ng-model="end-date" class="date-input form-control date-selector" name="date" min="0"
                                   type="date" required>
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Trainee Modal-->
<div class="modal fade" id="addTraineeModal" tabindex="-1" role="dialog" aria-labelledby="traineeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="traineeModalLabel">Add Trainee</h4>
            </div>
            <!-- Add Trainee Info -->
            <div class="modal-body trainee-body-modal">
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="traineeName">Full Name:</label>
                        <input ng-model="traineeName" type="text" class="form-control" id="traineeName"
                               placeholder="Enter Trainee Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="traineeEmail">Email:</label>
                        <input ng-model="traineeEmail" type="text" class="form-control" id="traineeEmail"
                               placeholder="Enter Trainee Email"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="trainingStatus">Status:</label>
                        <select ng-model="trainingStatus" class="form-control" id="trainingStatus" required>
                            <option value="" disabled selected>Select Trainee Status</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="saveNewTrainee" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>