<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<ul class="nav nav-tabs">
				<li role="button" class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">{{currentBatch}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="menuItem in batches track by $index"><a
							role="button" ng-click="selectCurrentBatch($index)">{{menuItem}}</a>
						</li>
					</ul></li>
				<li role="button" class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">{{currentTech}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="menuItem in tech track by $index"><a
							role="button" ng-click="selectCurrentTech($index)">{{menuItem}}</a>
						</li>
					</ul></li>
				<li role="button" class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">{{currentTrainee}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="menuItem in trainees track by $index"><a
							role="button" ng-click="selectCurrentTrainee($index)">{{menuItem}}</a>
						</li>
					</ul></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="top10 data-container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<div class="chart-container top5">
							<canvas id="radar" class="chart chart-radar"
								chart-data="batchRankData" chart-options="options"
								chart-labels="batchRankLabels" chart-series="batchRankSeries"
								height="50" width="50">
							</canvas>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="chart-container top5">
							<canvas id="base" class="chart-horizontal-bar" chart-data="data"
								chart-labels="labels" height="50" width="50">
							</canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

