<!-- <div id="confirmWeekModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			dialog body
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				Add new week?
			</div>
			dialog buttons
			<div class="modal-footer">
				<button id="noBtn" type="button" class="btn btn-primary">No</button>
				<button id="yesBtn" type="button" class="btn btn-primary">Yes</button>
			</div>
		</div>
	</div>
</div> -->

<div class="container">
	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
		data-target="#myModal">Open Modal</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>

		</div>
	</div>

</div>