<!-- set up the modal to start hidden and fade in and out -->
<div id="confirmingweeks" class="modal fade" >
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- dialog body -->
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				Are you sure you want to add a new week?
			</div>
			<!-- dialog buttons -->
			<div class="modal-footer">
				<button id="noBtn" type="button" class="btn btn-primary" data-dismiss="modal" >No</button>
				<button id="yesBtn" type="button" class="btn btn-primary" ng-click="createWeek()" data-dismiss="modal">Yes</button>
			</div>
		</div>
	</div>
</div>