<div class="modal fade editAssessModal" id="editAssessmentModal_{{assessment.assessmentId}}" tabindex="-1"
	role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal('EditAssessmentModal_'+assessment.assessmentId)" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

				<h4 class="modal-title" id="myModalLabel">Edit Assessment- {{assessment.title}}</h4>
			</div>
			<!-- Add Assessment Info -->
			<form ng-submit="">
				<div class="modal-body">
					<div class="row">
						<div class="form-group col-lg-12 col-md-12 col-sm-12">
							<label for="category">Assessment Category:</label> 
							<select class="form-control" id="category" 
								ng-options="option.skillCategory for option in category.options" 
								ng-model="updateAssessmentModel.category"
								required
							><option value="">{{assessment.category.skillCategory}}</option>
							</select>
						</div>
						<div class='form-group col-xs-6'>
							<label>Max Points</label>
							<input type="number" class="form-control" ng-value="assessment.rawScore" ng-model="updateAssessmentModel.rawScore"/>
						</div>
							<div class="form-group col-xs-6">
							<label for="assessmentType">Assessment Type:</label> <select
								ng-model="updateAssessmentModel.type" class="form-control"
								id="assessmentType" required>
								<option value="" disabled>{{assessment.type}}</option>
								<option ng-repeat="option in assessmentType.options">{{option}}</option>
							</select>
						</div>						
					</div>

					<div class="row">
<!-- 						<div class="form-group col-md-6 col-sm-6">
							<label for="rawScore">Max Points:</label> <input
								ng-model="rawScore" type="number" class="form-control"
								id="rawScore" placeholder="99" min="0" step="1" required>
						</div> -->

					</div>

				</div>
				<div class="modal-footer">
					<button style="float: left", ng-click="deleteAssessment(assessment,$event,'EditAssessmentModal_'+assessment.assessmentId, $index)" type="button" class="btn btn-danger""
					aria-label="Delete">Delete</button>
					<input type="button" value="Update" class="btn btn-primary" ng-click="updateAssessment(assessment,$event,'EditAssessmentModal_'+assessment.assessmentId, $index)">
					<button ng-click="closeModal('EditAssessmentModal_'+assessment.assessmentId)" type="button" class="btn"
					aria-label="Close">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>