<!--********************************************* Confirm Batch Delete Modal ************************************-->
	<form ng-submit="deleteBatch()">
		<div class="modal fade" id="deleteBatchModal" tabindex="-1"
			role="dialog" aria-labelledby="batchModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="batchModalLabel">Confirm Batch
							Delete</h4>
					</div>
					<div class="modal-body">
						<!-- Add Batch Info -->
						<h3>Are you sure you want to delete batch
							{{currentBatch.trainingName}}?</h3>
						<br /> <span ng-if="trainees.length > 1"> There are
							{{trainees.length}} trainees in this batch. </span> <span
							ng-if="trainees.length === 1"> There is only 1 trainee in
							this batch. </span> <span ng-if="trainees.length === 0|| !trainees">
							There are no trainees in this batch. </span>
					</div>
					<div class="modal-footer">
						<input type="submit" value="Delete" class="btn btn-lg btn-danger">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>

			</div>

		</div>
	</form>
	<!--*********************************************  Batch Delete ERROR Modal ************************************-->

	<div class="modal fade" id="deleteBatchErrorModal" tabindex="-1"
		role="dialog" aria-labelledby="batchModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="batchModalLabel">
						Error &nbsp;<i class="fa fa-frown-o fa-2x pick" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="modal-body">
					<!-- Add Batch Info -->
					Cannot delete a Batch in progress. <br> Please look forward to
					it! <br />

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
			</div>

		</div>

	</div>

	<!--********************************************* Check Batch Modal   ************************************-->
	<form>
		<div class="modal fade" id="checkBatchModal" tabindex="-1"
			role="dialog" aria-labelledby="batchModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="batchModalLabel">
							Invalid Batch Info&nbsp;<i class="fa fa-frown-o fa-2x pick"
								aria-hidden="true"></i>
						</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

					</div>
					<div class="modal-body">

						<p>
							The Start Date should be before the End Date. <br /> Trainer and
							Co-trainer cannot be the same
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>
	</form>