
<!--********************************************* Add Trainee Modal ************************************-->
<form ng-submit="verifyTraineeEmail()">
	<div class="modal fade" id="addTraineeModal" tabindex="-1"
		role="dialog" aria-labelledby="traineeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="traineeModalLabel">Add Trainees</h4>
				</div>



				<div class="modal-body">
					<!-- Add New Trainee -->
					<h3 ng-bind="traineeFormName">Add Trainee</h3>


					<div>
						<div class="row">
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label for="traineeName">Full Name:</label> <input
									ng-model="traineeForm.name" type="text" class="form-control"
									id="traineeName" placeholder="Name" required>
							</div>



							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label for="traineeEmail">Email:</label> <input
									ng-model="traineeForm.email" type="email" class="form-control"
									id="traineeEmail" placeholder="Email" required>
								<div
									ng-show="addTraineeForm.temail.$submitted || addTraineeForm.temail.$touched">
									<span class='warning'
										ng-show="addTraineeForm.temail.$error.email">Must enter
										a valid email</span>
								</div>
							</div>
						</div>




						<div class="row">
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label for="traineeSkype">Skype Id:</label> <input
									ng-model="traineeForm.skypeId" type="text" class="form-control"
									id="traineeSkype" placeholder="Skype Id">
							</div>
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label for="traineePhone">Phone:</label> <input
									ng-model="traineeForm.phoneNumber" type="text"
									class="form-control" id="traineePhone"
									placeholder="(xxx)-xxx-xxxx">
							</div>
						</div>


						<div class="row">
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<label for="traineeProfile">Profile URL:</label> <input
									ng-model="traineeForm.profileUrl" type="text"
									class="form-control" id="traineeName"
									placeholder="http://www.example.com/revature">
							</div>
						</div>



						<div class="row">

							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<label for="traineeStatus">Training Status</label> <select
									ng-model="traineeForm.trainingStatus" class="form-control"
									id="traineeStatus" required>
									<option value="" disabled>Select Status</option>
									<option ng-repeat="option in trainingStatuses.options">{{option}}</option>
								</select>
							</div>
						</div>
					</div>


					<div class="modal-footer">
						<input type="submit"
							ng-disabled="addTraineeForm.temail.$error.required || addTraineeForm.temail.$error.email"
							value="Save" class="btn btn-primary" ng-show="!Updating.status">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-show="!Updating.status">Close</button>
						<input type="submit" value="Update" class="btn btn-primary"
							ng-show="Updating.status" )>
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-show="Updating.status">Cancel</button>

					</div>


				</div>
			</div>
		</div>
	</div>
</form>