<!--********************************************* Import Batch Modal ************************************-->
<form>
	<div class="modal fade" id="importBatchModal" tabindex="-1"
		role="dialog" aria-labelledby="batchModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" ng-bind="batchFormName"
						id="batchModalLabel">Import New Batch</h4>
				</div>
				<!-- Import Batch Info -->
				<div class="modal-body">
					<div class="row">
						<div class="form-group col-lg-12 col-md-12 col-sm-12">
							<label for="batchItem">Batch Name:</label> 
							<select 
								class="form-control"
								ng-model="selectedBatch"
								ng-options="availableBatch as availableBatch.trainingName for availableBatch in allAvailableBatches"
								ng-change="selectedBatchToImport()" >
							</select>
						</div>
					</div>
					<div class="row">
						<div>
							<table class="batchModal">
								<tr>
									<th>Training Name</th>
									<td>{{batchToImport.trainingName}}</td>
									<th>Training Type</th>
									<td>{{batchToImport.trainingType}}</td>
								</tr>
									<th>Trainer</th>
									<td>{{batchToImport.trainer.name}}</td>
									<th>Trainer Email</th>
									<td>{{batchToImport.trainer.email}}</td>
								</tr>
								<tr>
									<th>Co-Trainer</th>
									<td>{{batchToImport.cotrainer.name}}</td>
									<th>Co-Trainer Email</th>
									<td>{{batchToImport.cotrainer.email}}</td>
								</tr>
								<tr>
									<th>Start Date</th>
									<td>{{batchToImport.startDate}}</td>
									<th>End Date</th>
									<td>{{batchToImport.endDate}}</td>
								</tr>
								<tr>
									<th>Location</th>
									<td>{{batchToImport.location}}</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="row">
						<div>
							<table ng=hide class="batchModal">
							<tr>
								<th>Trainee</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Status</th>
							</tr>
							<tr ng-repeat="trainee in traineeToImport">
								<td>{{trainee.name}}</td>
								<td>{{trainee.email}}</td>
								<td>{{trainee.phoneNumber}}</td>
								<td>{{trainee.trainingStatus}}</td>	
							</tr>				
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" value="Import" class="btn btn-primary" />
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</form>